:root {
    --background-color: #dfd4d5;
    --header-color: #766e6e;
    --text-color: rgb(0, 0, 0);
    --link-color: #fff0f0;
    --border-color: black;
    --article-title: black;
    --input-background: white;
    --placeholder-color: #acacac;
    --button-hover-bg: rgb(41, 28, 63);
    --menu-dropdown-hover: #bbb8b8;
}

[data-theme="dark"] {
    --background-color: #1b1a1a;
    --header-color: #494545;
    --text-color: rgb(255, 123, 0);
    --link-color: rgb(255, 123, 0);
    --border-color: rgb(255, 123, 0);
    --article-title: rgb(255, 123, 0);
    --input-background: rgb(41, 38, 38);
    --placeholder-color: rgb(255, 123, 0);
    --button-hover-bg: rgb(127, 77, 212);
    --menu-dropdown-hover: #000000;
}

a {
    transition: 0.5s;
    text-decoration: none;
    color: var(--text-color);
}

.content-link:hover {
    font-size: 1.3rem;
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

ul {
    list-style: none;
    padding: 0;
}

[data-theme="dark"] #light-icon {
    display: block;
}

[data-theme="dark"] #dark-icon {
    display: none;
}

#light-icon {
    display: none;
}

/* ----- header ----- */

.head-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
}

.logo-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.logo-div-item {
    margin: 20px;
    color: var(--link-color);
}

.dropbtn {
    display: none;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li a {
    padding: 0 0.5rem;
    margin: 0 0.25rem;
    color: var(--link-color);
}

nav ul li a:hover {
    text-transform: uppercase;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0 60px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- main page ----- */

.creator {
    width: 100%;
    flex-grow: 4;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    margin-top: 22px;
}

.description {
    margin-bottom: 40px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1 1 calc(33.333% - 10px);
}

.projects {
    padding-left: 20px;
}

.projects h2, ul {
    padding-left: 40px;
}

.projects-item {
    padding-bottom: 15px;
}

.profile-link {
    margin-top: 50px;
    text-decoration: underline;
    font-weight: bold;
}

.main-title {
    margin-top: 2.5rem;
    margin-bottom: 2.8rem;
    text-align: center;
}

/* ----- footer ----- */

.copyright {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}

/* ----- projects page ----- */

.project-list {
    text-align: center;
    padding: 0;
}

/* ----- articles page ----- */

.article-list {
    text-align: center;
}

article {
    margin-bottom: 60px;
}


/* ----- contact page ----- */
.contact {
    text-align: center;
}

.title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.fieldset {
    border-radius: 10px;
    border-color: var(--border-color);
    margin: auto;
    width: 500px;
}

.input {
    background-color: var(--input-background);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.textarea {
    background-color: var(--input-background);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

::placeholder {
    color: var(--placeholder-color);
    font-weight: bold;
}

.button {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: var(--header-color);
    color: var(--link-color);
}

.button:hover {
    background-color: var(--button-hover-bg);
    text-transform: uppercase;
}

@media(max-width: 1024px) {

    nav {
        margin: 0;
    }
}

@media(max-width: 768px) {

    nav {
        margin: 0;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .column {
        display: block;
        text-align: center;
        border-bottom: 1px solid var(--border-color);
    }

    .projects {
        padding: 0;
    }

    .projects h2, ul {
        padding: 0;
    }

    .profile-link {
        margin: 20px 0 30px 0;
    }
}

@media(max-width: 425px) {

    .dropbtn {
        display: block;
        background-color: var(--header-color);
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--header-color);
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .centered {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -15%);
    }
    
    .dropdown-content a {
        color: var(--text-color);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: var(--menu-dropdown-hover);
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: var(--menu-dropdown-hover)
    }
    
    .head-menu {
        display: flex;
    }
    
    .logo-div p {
        display: none;
    }
    
    .logo-div-item {
        margin: 0;
        color: var(--link-color);
    }
    
    nav {
        margin: 0;
    }
    
    nav ul {
        display: flex;
        align-items: center;
    }
    
    nav ul li a {
        margin: 0;
        color: var(--link-color);
    }
    
    nav ul li a:hover {
        text-transform: none;
    }
    
    #theme-switch {
        display: block;
        margin: 0;
        border-radius: 0;
        justify-content: left;
    }

    section {
        padding: 0 10px;
    }

    /* ----- main page ----- */

    .creator {
        width: auto;
        flex-grow: 4;
        text-align: center;
        border-bottom: 1px solid var(--border-color);
        margin: 22px 0 0 0;
    }

    /* ----- articles page ----- */
    
    .content-link:hover {
        font-size: 1rem;
        text-decoration: underline;
    }
    
    /* ----- contact page ----- */
    
    .fieldset {
        border-radius: 10px;
        border-color: var(--border-color);
        width: fit-content;
    }

    .textarea {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }
}